<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Laaj</title>

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icons8-doctor-male-80.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <script
        type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: "en" },
                "google_translate_element"
            );
        }
    </script>
</head>
<body>
    <nav>
        <ul>
            <li>
                <img class="logo" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
            </li>
			<li><a href="{{ url_for('index.index') }}">Home</a> </li>
			<li><a href="#">About Us +</a></li>
			<li><a href="assets/doctor/doctor.html">Doctor</a></li>
            <li><a href="{{ url_for('patient.patient') }}">Patient</a></li>
            <div id="google_translate_element"></div>
		</ul>
    </nav>


    <div class="container">
        <div>
			<a href="{{ url_for('index.index') }}" id = "company-name">E-Laaj</a>
			<div id = "tagline">Rural Healthcare Management System</div>
            <img class="svg-pic" type="image/svg" src="{{ url_for('static', filename='images/Person with a cold-rafiki.svg') }}" alt="">
        </div>       
    </div>   
</body>
</html>